*,
body {
  font-family: "Mitr" !important;
}

// Custom fonts
@font-face {
  font-family: "SVN-SAF";
  src: local("SVN-SAF"), url(~assets/fonts/SVN-SAF.ttf) format("truetype");
}

@font-face {
  font-family: "iCiel Stabile";
  src: local("iCiel Stabile"),
    url(~assets/fonts/Stabile-Regular.ttf) format("truetype");
}

.flipVertical {
  transform: rotate(180deg);
}

.custom-font {
  font-family: "Mitr" !important;
}

.custom-font-2 {
  font-family: "SVN-SAF" !important;
}

.custom-font-3 {
  font-family: "iCiel Stabile" !important;
}

.default-text-color {
  color: #882900;
}

.linear-gradient-1 {
  background: -webkit-linear-gradient(#f39c09, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-text-wd {
  font-family: Mitr;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  // -webkit-text-stroke: 1px #741E00;
  text-shadow: -2px -2px 0 #741e00, 2px -2px 0 #741e00, -2px 2px 0 #741e00,
    2px 2px 0 #741e00;
}

.full-h {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.pointer-simple {
  cursor: pointer;
}

.pointer:hover {
  text-shadow: -2px -2px 0 #741e00, 2px -2px 0 #741e00, -2px 2px 0 #741e00,
    2px 2px 0 #741e00;
}

// Scroll bars
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d6b694;
  border-radius: 6px;
  background-color: transparent;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #d6b694;
  background-color: #882900;
}
.transactions-select
  .v-input__control
  .v-input__slot
  .v-select__slot
  .v-select__selections
  .v-select__selection {
  color: white !important;
}

.deposit-label .v-input__control .v-input__slot .v-text-field__slot label {
  opacity: 0.6;
}

.marketplace-tab .v-tabs-bar {
  background-color: transparent !important;
  border: 1px solid #bd5345;
  border-radius: 999px;
}

.marketplace-tab .v-tabs-bar .v-slide-group__wrapper .v-tabs-bar__content {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.marketplace-tab
  .v-tabs-bar
  .v-slide-group__wrapper
  .v-tabs-bar__content
  .v-tabs-slider-wrapper {
  z-index: -1;
  height: 100% !important;
}

.marketplace-tab
  .v-tabs-bar
  .v-slide-group__wrapper
  .v-tabs-bar__content
  .v-tabs-slider-wrapper
  .v-tabs-slider {
  border-radius: 999px;
}

.v-tab::before {
  border-radius: 999px !important;
}

.marketplace-vtabs-items .v-tabs-items {
  background-color: transparent !important;
}
